<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <h5 class="white-text">US Tech Firm</h5>
        <p class="grey-text text-lighten-4">
          <address>
            1640 Riverside Drive<br />
            Hill Valley, CA. 95945<br />
            <a href="tel:619.929.7746">619.929.7746</a>
          </address>
        </p>
      </div>
      <div class="col l6 s12">
        <h5 class="white-text">Quick Connect</h5>
        <form class="col l8 s12">
          <div class="input-field col s12 m12 l12">
            <input class="white-text" id="name" type="text" class="validate" />
            <label for="name">Name</label>
          </div>
          <div class="input-field col s12 m12 l12">
            <input class="white-text" id="email" type="email" class="validate" />
            <label for="email" data-error="invalid" data-success="valid">Email</label>
          </div>
          <div class="input-field col s12 m12 l12">
            <textarea id="textArea" class="materialize-textarea white-text"></textarea>
            <label for="textArea" class="">Message</label>
          </div>
          <a class="waves-effect waves-light btn grey submit" tabindex="0">Submit<i class="material-icons right">send</i></a>
        </form>
      </div>
      <div class="col l3 s12">
        <h5>Site Map</h5>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Product</a>
          <ul class="footer-list">
              <li><a href="#">Product A</a></li>
              <li><a href="#">Product B</a></li>
              <li><a href="#">Product C</a></li>
              <li><a href="#">Product D</a></li>
          </ul>
          </li>
          <li><a href="#">Technology</a>
          <ul class="footer-list">
              <li><a href="#">Tech 1</a></li>
              <li><a href="#">Tech 2</a></li>
              <li><a href="#">Tech 3</a></li>
              <li><a href="#">Tech 4</a></li>
          </ul>
          </li>
          <li><a href="/about-us">About</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey darken-3">
    <div class="container center">
      <span id="copyright">Images and Content Copyright @
        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
      </span> <a href="/">US Tech Firm</a><br> 1640 Riverside Dr. | Hill Valley CA. 95945</div>
  </div>
</footer>