  <div class="header">
    <main>
      <nav class="grey darken-4">
        <div class="nav-wrapper">
          <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="left hide-on-med-and-down">
            <li><a class="waves-effect waves-light" href="/">Home</a></li>
            <li><a class="waves-effect waves-light dropdown-trigger" data-target="product-main" href="#">Products <i class="material-icons right">arrow_drop_down</i></a>
              <ul id="product-main" class="dropdown-content">
                <li><a class="waves-effect waves-light" href="#">Product A</a></li>
                <li><a class="waves-effect waves-light" href="#">Product B</a></li>
                <li><a class="waves-effect waves-light" href="#">Product C</a></li>
                <li><a class="waves-effect waves-light" href="#">Product D</a></li>
              </ul>
            </li>
            <li><a class="waves-effect waves-light dropdown-trigger" data-target="tech-main" href="#">Technology <i class="material-icons right">arrow_drop_down</i></a>
              <ul id="tech-main" class="dropdown-content">
                <li><a class="waves-effect waves-light" href="#">Tech 1</a></li>
                <li><a class="waves-effect waves-light" href="#">Tech 2</a></li>
                <li><a class="waves-effect waves-light" href="#">Tech 3</a></li>
                <li><a class="waves-effect waves-light" href="#">Tech 4</a></li>
              </ul>  
            </li>
            <li><a class="waves-effect waves-light" href="/about-us">About</a></li>
            <li><a class="waves-effect waves-light" href="/contact-us">Contact Us</a></li>
          </ul>
        </div>
      </nav>
        <ul id="slide-out" class="sidenav">
          <li><a class="waves-effect waves-light" href="/">Home</a></li>
          <li><a class="waves-effect waves-light dropdown-trigger" data-target="product-list" href="#">Products <i class="material-icons right">more_vert</i></a>
              <ul id="product-list" class="dropdown-content">
                <li><a class="waves-effect waves-light" href="#">Product A</a></li>
                <li><a class="waves-effect waves-light" href="#">Product B</a></li>
                <li><a class="waves-effect waves-light" href="#">Product C</a></li>
                <li><a class="waves-effect waves-light" href="#">Product D</a></li>
              </ul>
          </li>
          <li><a class="waves-effect waves-light dropdown-trigger" data-target="tech-list" href="#">Technology <i class="material-icons right">more_vert</i></a>
              <ul id="tech-list" class="dropdown-content">
                <li><a class="waves-effect waves-light" href="#">Tech 1</a></li>
                <li><a class="waves-effect waves-light" href="#">Tech 2</a></li>
                <li><a class="waves-effect waves-light" href="#">Tech 3</a></li>
                <li><a class="waves-effect waves-light" href="#">Tech 4</a></li>
              </ul>
          </li>
          <li><a class="waves-effect waves-light" href="/about-us">About</a></li>
          <li><a class="waves-effect waves-light" href="/contact-us">Contact Us</a></li>
        </ul>
    </main>
  </div>