<div class="about-section">
    <div class="container">
        <h2 class="content">About Our Firm</h2>
        <div class="row top">
            <div class="col l4 m12 s12">
                <h3>Featured</h3>
            <div class="col l4 s12">
                <ul>
                    <li><a href="#">Products</a>
                        <ul class="footer-list">
                            <li><a href="#">Product A</a></li>
                            <li><a href="#">Product B</a></li>
                            <li><a href="#">Product C</a></li>
                            <li><a href="#">Product D</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Technologies</a>
                        <ul class="footer-list">
                            <li><a href="#">Tech 1</a></li>
                            <li><a href="#">Tech 2</a></li>
                            <li><a href="#">Tech 3</a></li>
                            <li><a href="#">Tech 4</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            </div>
            <div class="col l8 m12 s12">
                <h3>Our Company History</h3>
                <p>I'm baby polaroid photo booth church-key umami, you probably haven't heard of them skateboard YOLO mumblecore twee narwhal lo-fi fanny pack. Mixtape 3 wolf moon humblebrag, crucifix viral kickstarter twee flexitarian drinking vinegar pitchfork disrupt sriracha tote bag shabby chic biodiesel. Hella seitan 90's activated charcoal kickstarter. Echo park yr chartreuse, 3 wolf moon la croix tumblr waistcoat brooklyn hoodie ennui marfa you probably haven't heard of them direct trade fam prism. YOLO letterpress adaptogen actually kickstarter plaid, fashion axe kogi retro umami scenester raclette.</p>
                <p>Before they sold out synth flannel yuccie affogato waistcoat normcore mixtape occupy hella pour-over. Pork belly organic skateboard deep v iceland hexagon lomo artisan intelligentsia. Cold-pressed actually marfa single-origin coffee synth unicorn green juice four dollar toast thundercats occupy schlitz sustainable VHS scenester polaroid. Ugh listicle cliche beard four dollar toast distillery yuccie plaid try-hard readymade twee banh mi. Tumeric health goth cray, jean shorts tbh intelligentsia mixtape.</p>
                <p>Snackwave readymade VHS succulents man braid pinterest. Blue bottle air plant fanny pack activated charcoal kogi. Man bun locavore helvetica direct trade raclette. Tattooed blue bottle VHS umami normcore kogi vaporware literally thundercats pork belly bespoke tbh prism.</p>
                <p>I'm baby vaporware glossier fam selvage blog cardigan cornhole woke skateboard, try-hard schlitz green juice. Vape paleo meggings, tattooed poutine celiac mlkshk food truck. Keytar cardigan authentic hella, air plant truffaut sustainable gluten-free af. Marfa slow-carb blue bottle forage mustache woke. Church-key ennui VHS narwhal, live-edge stumptown direct trade 90's 3 wolf moon jean shorts sartorial street art everyday carry.</p>
                <p>I'm baby microdosing tousled biodiesel narwhal vape, taiyaki gochujang blog before they sold out +1 austin. Helvetica fam yr austin tofu meditation. Shabby chic flexitarian banh mi af. Literally organic ethical taxidermy, four loko pok pok tilde helvetica fanny pack drinking vinegar PBR&B man bun williamsburg. Scenester occupy single-origin coffee chicharrones, photo booth hammock venmo drinking vinegar ethical cliche gluten-free flannel.</p>
                <p>Truffaut distillery iPhone fam 90's helvetica live-edge prism af vaporware sriracha copper mug pabst butcher. Blog tumeric ugh authentic pabst, selvage prism activated charcoal farm-to-table beard health goth letterpress. Microdosing jianbing truffaut kitsch fanny pack ennui church-key succulents tote bag gentrify locavore cornhole affogato fixie. Jianbing yr gochujang affogato, distillery squid photo booth.</p>
                <p>I'm baby polaroid photo booth church-key umami, you probably haven't heard of them skateboard YOLO mumblecore twee narwhal lo-fi fanny pack. Mixtape 3 wolf moon humblebrag, crucifix viral kickstarter twee flexitarian drinking vinegar pitchfork disrupt sriracha tote bag shabby chic biodiesel. Hella seitan 90's activated charcoal kickstarter. Echo park yr chartreuse, 3 wolf moon la croix tumblr waistcoat brooklyn hoodie ennui marfa you probably haven't heard of them direct trade fam prism. YOLO letterpress adaptogen actually kickstarter plaid, fashion axe kogi retro umami scenester raclette.</p>
            </div>
        </div>
    </div>
</div>