<div class="about-section">
    <div class="container">
        <h2 class="content">Contact Us</h2>
        <div class="row top">
            <div class="col l5 m12 s12">
                <i class="material-icons">business</i>
                <address>
                    US Tech Firm<br> 
                    1640 Riverside Dr.<br>
                    Hill Valley CA. 95945<br>
                    <a href="tel:619.929.7746">619.929.7746</a>
                </address>
            </div>
            <form class="col l7 m12 s12">
                <p class="light left">We would love nothing better than to hear from you. Are you planning to remodel? Maybe dreaming up a new modern design for your house, or anything else inbetween; we'd love to find out how we can help you make your next project a reality.				</p>
                <div class="input-field col s12 m12 l12">
                    <input id="name" type="text" class="validate">
                    <label for="name" class="">Name</label>
                </div>
                <div class="input-field col s12 m12 l12">
                    <input id="email" type="email" class="validate">
                    <label for="email" data-error="invalid" data-success="valid">Email</label>
                </div>
                <div class="input-field col s12 m12 l12">
                    <textarea id="textArea" class="materialize-textarea"></textarea>
                    <label for="textArea">Message</label>
                </div>
                <a class="waves-effect waves-light btn grey submit" tabindex="0">Submit<i class="material-icons right">send</i></a>
        </form>
        </div>
    </div>
</div>