<div class="container home">
    <div class="row">
        <div class="col s12">
            <h1 class="home">US Tech Firm</h1>
            <p class="home">Aiming to power the world through technology.<br>
            Inspiring tomorrow's technology, for a better today.<br>
            <a class="btn-large grey darken-3 learn-more" tabindex="0">Learn more<i class="material-icons right">send</i></a></p>
        </div>
    </div>
</div>
<div class="card-section">
    <div class="row">
        <div class="col l4">
            <div class="card medium">
                <div class="card-image">
                     <img src="img/technology.jpg" alt>
                    <span class="card-title home">Technology</span>
                </div>
                <div class="card-content">
                    <p>I'm baby gochujang cronut migas cardigan bushwick pug, selvage trust fund seitan blue bottle 8-bit truffaut offal four dollar toast franzen. Locavore +1 biodiesel flannel, kombucha marfa flexitarian bitters pitchfork poke lo-fi XOXO. Venmo hexagon chartreuse aesthetic listicle. Authentic pabst put a bird on it salvia. Affogato trust fund slow-carb marfa shaman chicharrones hella letterpress.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col l4">
            <div class="card medium">
                <div class="card-image">
                    <img src="img/technology.jpg" alt>
                    <span class="card-title home">Hardware</span>
                </div>
                <div class="card-content">
                    <p>I'm baby vaporware glossier fam selvage blog cardigan cornhole woke skateboard, try-hard schlitz green juice. Vape paleo meggings, tattooed poutine celiac mlkshk food truck. Keytar cardigan authentic hella, air plant truffaut sustainable gluten-free af. Marfa slow-carb blue bottle forage mustache woke. Church-key ennui VHS narwhal, live-edge stumptown direct trade 90's 3 wolf moon jean shorts sartorial street art everyday carry.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col l4">
            <div class="card medium">
                <div class="card-image">
                    <img src="img/technology.jpg" alt>
                    <span class="card-title home">Experience</span>
                </div>
                <div class="card-content">
                    <p>Helvetica fam yr austin tofu meditation. Shabby chic flexitarian banh mi af. Literally organic ethical taxidermy, four loko pok pok tilde helvetica fanny pack drinking vinegar PBR&B man bun williamsburg. Scenester occupy single-origin coffee chicharrones.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="containter cta-section">
    <div class="row">
        <div class="col s12">
            <p>Make an appointment with our techology experts about any of your data needs.<br>
            <span>We're happy to meet you to discuss your needs and review available plans for whatever your needs are.<br></span>
             <a class="waves-effect waves-light btn grey darken-3 submit" tabindex="0">Contact Us<i class="material-icons right">send</i></a>
            </p>
        </div>
    </div>
</div>
<div class="benefits-section">
    <div class="container">
        <h2 class="home center">US Tech Firm Advantages</h2>
        <div class="row top">
            <div class="col s4">
                <h3 class="home"> Our People</h3>
                <p>I'm baby microdosing tousled biodiesel narwhal vape, taiyaki gochujang blog before they sold out +1 austin. Helvetica fam yr austin tofu meditation. Shabby chic flexitarian banh mi af. Literally organic ethical taxidermy, four loko pok pok tilde helvetica fanny pack drinking vinegar PBR&B man bun williamsburg. Scenester occupy single-origin coffee chicharrones, photo booth hammock venmo drinking vinegar ethical cliche gluten-free flannel.</p>
            </div>
            <div class="col s4">
                <h3 class="home">Our Software</h3>
                <p>Snackwave readymade VHS succulents man braid pinterest. Blue bottle air plant fanny pack activated charcoal kogi. Man bun locavore helvetica direct trade raclette. Tattooed blue bottle VHS umami normcore kogi vaporware literally thundercats pork belly bespoke tbh prism.</p>
            </div>
            <div class="col s4">
                <h3 class="home">Our Technology</h3>
                <p>Truffaut distillery iPhone fam 90's helvetica live-edge prism af vaporware sriracha copper mug pabst butcher. Blog tumeric ugh authentic pabst, selvage prism activated charcoal farm-to-table beard health goth letterpress. Microdosing jianbing truffaut kitsch fanny pack ennui church-key succulents tote bag gentrify locavore cornhole affogato fixie. Jianbing yr gochujang affogato, distillery squid photo booth.</p>
            </div>
        </div>
        <div class="row bottom">
            <div class="col s4">
                <h3 class="home">The Markets</h3>
                <p>Before they sold out synth flannel yuccie affogato waistcoat normcore mixtape occupy hella pour-over. Pork belly organic skateboard deep v iceland hexagon lomo artisan intelligentsia. Cold-pressed actually marfa single-origin coffee synth unicorn green juice four dollar toast thundercats occupy schlitz sustainable VHS scenester polaroid. Ugh listicle cliche beard four dollar toast distillery yuccie plaid try-hard readymade twee banh mi. Tumeric health goth cray, jean shorts tbh intelligentsia mixtape.</p>
            </div>
            <div class="col s4">
                <h3 class="home">The Hardware</h3>
                <p>I'm baby polaroid photo booth church-key umami, you probably haven't heard of them skateboard YOLO mumblecore twee narwhal lo-fi fanny pack. Mixtape 3 wolf moon humblebrag, crucifix viral kickstarter twee flexitarian drinking vinegar pitchfork disrupt sriracha tote bag shabby chic biodiesel. Hella seitan 90's activated charcoal kickstarter. Echo park yr chartreuse, 3 wolf moon la croix tumblr waistcoat brooklyn hoodie ennui marfa you probably haven't heard of them direct trade fam prism. YOLO letterpress adaptogen actually kickstarter plaid, fashion axe kogi retro umami scenester raclette.</p>
            </div>
            <div class="col s4">
                <h3 class="home">24/7 Support</h3>
                <p>I'm baby gochujang woke skateboard listicle palo santo pop-up cloud bread butcher shaman. Bespoke leggings forage direct trade twee cornhole 8-bit. YOLO typewriter pok pok synth. Vexillologist swag migas sustainable hashtag tilde pabst selvage XOXO yuccie yr actually bushwick blog celiac. Pabst sartorial thundercats yuccie. Sartorial bushwick helvetica, af forage biodiesel tousled tilde vice stumptown. Hexagon hashtag bicycle rights butcher hella master cleanse vape.</p>
            </div>
        </div>
    </div>
</div>



